div {   /* div는 무조건 root를 의미함 : <></> 또는 <Fragment></Fragment>도 이걸로 호출 가능  */
  background-color: brown;
  color: white;
  padding: 50px;
  text-align: center;
}
h1 {
  color: azure;
}
h3 {
  background-color: rgb(85, 0, 0);
}
.class1 {
  border: 2px dotted;
}

#id1 {
  color:black;
  border: 2px solid white;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s alternate;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20000deg);
  }
} */
